# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Diagnostic reports
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Dependency directories
node_modules/

# Optional npm cache and repl history
.npm
.eslintcache
.stylelintcache
.repl_history

# Coverage directory used by tools like istanbul
coverage/
*.lcov
.nyc_output

# Build/output directory
dist/
dist-ssr/
build/
out/

# Environment variables
.env
.env.test
.env.development.local
.env.test.local
.env.production.local
.env.local

# Editor directories and files
.idea
.vscode/*
!.vscode/extensions.json
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.DS_Store
Thumbs.db

# Typescript
*.tsbuildinfo

